html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  height: calc(100vh - 100px);
  padding: 20px;
  background: #f6fff7;
  font-family:
    Consolas,
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace,
    serif;
  box-sizing: border-box;
}

.left-section {
  width: 500px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  box-sizing: border-box;
}

.right-section {
  width: 500px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0;
  box-sizing: border-box;
}

.scan-btn {
  width: 80%;
  padding: 14px 20px;
  background: #1ebc73;
  border: none;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition:
    background-color 0.3s,
    transform 0.3s ease;
}

.scan-btn:hover {
  background-color: #159658;
  transform: scale(1.05);
}

.scan-btn:disabled {
  background-color: #a8e6c8;
  cursor: not-allowed;
  transform: none;
}

.result-box {
  padding: 20px;
  background: #eefcf1;
  border-left: 5px solid #1ebc73;
  border-radius: 12px;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.result-box h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.result-box p {
  font-size: 16px;
  color: #555;
}

.upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.upload-area img {
  margin-bottom: 15px;
}

.upload-area:hover {
  background-color: #f1fdf3;
  transform: scale(1.05);
}

/* Tablet */
@media (max-width: 1100px) {
  html,
  body {
    overflow: auto;
  }

  .home-container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: auto;
    padding: 20px;
  }

  .left-section,
  .right-section {
    width: 90%;
  }

  .scan-btn {
    width: 100%;
  }
}

/* Mobile */
@media (max-width: 600px) {
  html,
  body {
    overflow: auto;
  }

  .home-container {
    padding: 80px 15px 30px;
  }

  .left-section,
  .right-section {
    width: 100%;
  }

  .scan-btn {
    font-size: 14px;
    padding: 12px;
  }

  .result-modal {
    width: 90%;
    padding: 20px;
  }
}
